  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text"><strong>Price:</strong>{{product.price}}$</p>
        <a type="button" class="link-secondary link-underline-dark link-offset-1" (click)="toggle()">Details</a>
        <div [@openClose]="isOpen ? 'open' : 'closed'" style="overflow: hidden;">
            <p>{{ product.description }}</p>
        </div>
        <button (click)="goToProduct()" class="btn btn-primary">Go to Details</button>
      </div>
    </div>
