<form [formGroup]="loginForm">
  <div class="mb-3">
    <label class="form-label">
      Username:
      <input type="text" formControlName="username" class="form-control" [formControl]="loginForm.controls.username" />
      <div *ngIf="loginForm.get('username')?.touched">
        <div *ngIf="loginForm.get('username')?.errors?.['required']">
          <p class="text-danger">
            Username is required
          </p>
        </div>
      </div>
      <div *ngIf="loginForm.get('username')?.errors?.['minlength']">
        <p class="text-danger">
          Min length is 5
        </p>
      </div>
    </label>
  </div>
  <div class="mb-3">
    <label class="form-label">
      First Name:
      <input type="text" class="form-control" [formControl]="loginForm.controls.bio.controls.firstName" />
      <div *ngIf="loginForm.get('bio.firstName')?.errors?.['required'] && loginForm.get('bio.firstName')?.touched">
        <p class="text-danger">
          First name is required
        </p>
      </div>
    </label>
  </div>
  <div class="mb-3">
    <label class="form-label">
      Last name:
      <input type="text" class="form-control" [formControl]="loginForm.controls.bio.controls.lastName" />
      <div *ngIf="loginForm.get('bio.lastName')?.errors?.['required'] && loginForm.get('bio.lastName')?.touched">
        <p class="text-danger">
          Last name is required
        </p>
      </div>
    </label>
  </div>
  <div class="mb-3">
    <label class="form-label">
      Age:
      <input type="number" class="form-control" [formControl]="loginForm.controls.bio.controls.age" />
      <div *ngIf="loginForm.get('bio.age')?.errors?.['required'] && loginForm.get('bio.age')?.touched">
        <p class="text-danger">
          Last name is required
        </p>
      </div>
    </label>
  </div>
  <div class="mb-3">
    <label class="form-label">
      Email:
      <input type="email" class="form-control" [formControl]="loginForm.controls.email" />
    </label>
    <div *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched">
      <p class="text-danger">
        Email is required
      </p>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">
      Password:
      <input type="password" class="form-control" [formControl]="loginForm.controls.password" />
    </label>
    <div *ngIf="loginForm.get('password')?.touched">
      <div *ngIf="loginForm.get('password')?.errors?.['required']">
        <p class="text-danger">
          Password is required
        </p>
      </div>
      <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
        <p class="text-danger">
          Min length is 5
        </p>
      </div>
    </div>
  </div>
  <div class="">
    <button type="submit" (click)="login()" class="btn btn-primary">Login</button>
    <button type="submit" (click)="updateLogin()" class="btn btn-success">Update</button>
  </div>
</form>


<pre>
  {{loginForm.value | json }}
</pre>

