<div class="container mt-5" @routeTransition>
  <h1 class="text-center mb-4">Contacts</h1>

  <div class="flex-column">
    <div class="d-flex justify-content-around">
      <ul class="list-group">
        <li class="list-group-item">
          <h5>John Doe</h5>
          <p>Phone: (555) 123-4567</p>
          <p>Email: johndoeexample.com</p>
        </li>
        <li class="list-group-item">
          <h5>Jane Smith</h5>
          <p>Phone: (555) 234-5678</p>
          <p>Email: janesmithexample.com</p>
        </li>
        <li class="list-group-item">
          <h5>Michael Johnson</h5>
          <p>Phone: (555) 345-6789</p>
          <p>Email: michaeljohnsonexample.com</p>
        </li>
        <li class="list-group-item">
          <h5>Emily Davis</h5>
          <p>Phone: (555) 456-7890</p>
          <p>Email: emilydavisexample.com</p>
        </li>
        <li class="list-group-item">
          <h5>Chris Brown</h5>
          <p>Phone: (555) 567-8901</p>
          <p>Email: chrisbrownexample.com</p>
        </li>
      </ul>
    </div>
  </div>
</div>
